bootstrap/cache/*
storage/framework/cache/*
storage/debugbar/*
storage/app/*
storage/logs/*
*.env*
.rr.yml
fly.toml
.vscode
node_modules
**/*~
**/.DS_Store
**/Thumbs.db
public/hot

.idea
.git
.github
.task
.tempCache
.dockerignore
.gitignore
.gitattributes
vendor
README.md
Taskfile.yml
libConfig
.editorconfig
