.ecs
.git
.github
.stan
.task
.rector
.idea
.docker
.dockerignore
.gitignore
.gitattributes
vendor
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
baseline.php
ecs.php
phpstan.neon
phpunit.xml
README.md
rector.php
Taskfile.yml
deptrac.yaml
