includes:
 - baseline.php
parameters:
  level: max
  paths:
    - ./packages
    - ./app
    - ./config
    - ./database
    - ./public
    - ./resources
    - ./tests
    - ./routes
  excludePaths:
    - ./vendor
    - _ide_*.php
    - .phpstorm.meta.php
  tmpDir: .stan
  strictRules:
    allRules: true
