<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">./packages</directory>
        </testsuite>
    </testsuites>
    <coverage/>
    <extensions>
        <bootstrap class="Tests\SetUpTest"/>
    </extensions>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_KEY" value="base64:zcGC9RB0cplYgwAIAJ1vnNVHsHN+FXqTB3g6WtTfZTU="/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="redis"/>
        <server name="MAIL_MAILER" value="smtp"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="redis"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
        <server name="MODEL_SHOULD_BE_STRICT" value="true"/>
        <server name="DB_SCHEMA" value="test"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </source>
</phpunit>
