includes:
 - baseline.php
parameters:
  level: max
  paths:
    - ../packages
    - ../app
    - ../config
    - ../database
    - ../public
    - ../resources
    - ../tests
    - ../routes
  excludePaths:
    - ../vendor
    - ../.tempCache
  tmpDir: ../.tempCache/.stan
  strictRules:
    allRules: true
