name: laravelorbstack
x-common-settings: &healthcheck-settings
  interval: 1s
  timeout: 30s
  retries: 30
volumes:
  postgresql:
  mysql:
  cache:
  session:
  minio:
  minio-config:
  caddy-data:
  caddy-config:
  https-portal-data:
#  localstack:
services:
  postgresql:
    networks:
      default:
        aliases:
          - laravelorbstack.pgsql.local
    image: postgres:18.1-alpine3.22@sha256:154ea39af68ff30dec041cd1f1b5600009993724c811dbadde54126eb10bedd1
    environment:
      POSTGRES_DB: sample
      POSTGRES_USER: sample
      POSTGRES_PASSWORD: sample
      POSTGRES_INITDB_ARGS: "--encoding=UTF-8 --locale=C"
    volumes:
      - type: volume
        source: postgresql
        target: /var/lib/postgresql/data
      - type: bind
        source: ./local/db/script.sql
        target: /docker-entrypoint-initdb.d/script.sql
    healthcheck:
      test: [
        "CMD",
        "pg_isready",
        "-h",
        "laravelorbstack.pgsql.local",
        "-U",
        "sample",
        "-d",
        "sample",
        "-p",
        "5432",
      ]
      <<: *healthcheck-settings
    profiles:
      - app
      - cli

  mysql:
    networks:
      default:
        aliases:
          - laravelorbstack.mysql.local
    image: mysql:9.5.0@sha256:c9f0c66a87356518d4b30dbc065eb4567e4a04aff4d0ff194dea0973e5985b57
    environment:
      MYSQL_ROOT_PASSWORD: sample
      MYSQL_DATABASE: sample
      MYSQL_USER: sample
      MYSQL_PASSWORD: sample
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - type: volume
        source: mysql
        target: /var/lib/mysql
    healthcheck:
      test: [
        "CMD",
        "mysqladmin",
        "ping",
        "-h",
        "laravelorbstack.mysql.local",
        "-u",
        "sample",
        "-psample",
        "-P",
        "3306",
      ]
      <<: *healthcheck-settings
    profiles:
      - app
      - cli
  cache:
    networks:
      default:
        aliases:
          - laravelorbstack.cache.local
    image: redis:8.4.0-alpine3.22@sha256:6cbef353e480a8a6e7f10ec545f13d7d3fa85a212cdcc5ffaf5a1c818b9d3798
    command: redis-server --appendonly yes
    volumes:
      - type: volume
        source: cache
        target: /data
    healthcheck:
      test: [
        "CMD",
        "redis-cli",
        "ping"
      ]
      <<: *healthcheck-settings
    profiles:
      - app
      - cli

  session:
    networks:
      default:
        aliases:
          - laravelorbstack.session.local
    image: redis:8.4.0-alpine3.22@sha256:6cbef353e480a8a6e7f10ec545f13d7d3fa85a212cdcc5ffaf5a1c818b9d3798
    command: redis-server --appendonly yes
    volumes:
      - type: volume
        source: session
        target: /data
    healthcheck:
      test: [
        "CMD",
        "redis-cli",
        "ping"
      ]
      <<: *healthcheck-settings
    profiles:
      - app
      - cli

  mail:
    networks:
      default:
        aliases:
          - laravelorbstack.mail.local
    image: axllent/mailpit:v1.28.2@sha256:28a161f4a39c70671d0fb771a6e7a3abe6d2144c0e2a595ff72767ab63cd14f6
    healthcheck:
      test: [
        "CMD",
        "ping",
        "-c",
        "3",
        "laravelorbstack.mail.local"
      ]
      <<: *healthcheck-settings
    profiles:
      - app
      - cli

  storage:
    networks:
      default:
        aliases:
          - laravelorbstack.storage.local
          - sample-bucket.laravelorbstack.storage.local
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z@sha256:14cea493d9a34af32f524e538b8346cf79f3321eff8e708c1e2960462bd8936e
    command: server /export --console-address ":80"
    volumes:
      - type: volume
        source: minio
        target: /export
      - type: volume
        source: minio-config
        target: /root/.minio
    environment:
      # @see https://min.io/docs/minio/linux/reference/minio-server/settings/core.html#domain
      MINIO_DOMAIN: laravelorbstack.storage.local
      MINIO_ROOT_USER: samplesample
      MINIO_ROOT_PASSWORD: samplesample
    healthcheck:
      test: [
        "CMD",
        "curl",
        "-I",
        "laravelorbstack.storage.local/minio/health/live"
      ]
      <<: *healthcheck-settings

  setUpStorage:
    image: minio/mc:RELEASE.2025-08-13T08-35-41Z@sha256:a7fe349ef4bd8521fb8497f55c6042871b2ae640607cf99d9bede5e9bdf11727
    depends_on:
      storage:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      mc alias set myminio http://laravelorbstack.storage.local:9000 samplesample samplesample;
      mc mb myminio/sample-bucket;
      mc anonymous set public myminio/sample-bucket;
      exit 0;
      "
    profiles:
      - bucket

#  localstack:
#    networks:
#      default:
#        aliases:
#          - laravelorbstack.localstack.local
#    image: localstack/localstack:2.2.0
#    environment:
#      SERVICES: s3
#    healthcheck:
#      test: [
#        "CMD",
#        "bash",
#        "-c",
#        "awslocal s3 ls"
#      ]
#    volumes:
#      - type: bind
#        source: ./local/s3
#        target: /etc/localstack/init/ready.d
#      - type: bind
#        source: /var/run/docker.sock
#        target: /var/run/docker.sock
#      - type: volume
#        source: localstack
#        target: /var/lib/localstack

  php-app:
    networks:
      default:
        aliases:
          - laravelorbstack.apache.local
    hostname: php-app
    image: laravelorbstack/php:apache-8.5-local
    volumes:
      - type: bind
        source: ..
        target: /var/www/html
      - type: bind
        source: ./local/php/mpm_prefork.conf
        target: /etc/apache2/mods-available/mpm_prefork.conf
      - type: bind
        source: ./local/php/000-default.conf
        target: /etc/apache2/sites-available/000-default.conf
      - type: bind
        source: ./common/security.conf
        target: /etc/apache2/conf-available/security.conf
      - type: bind
        source: ./local/php/php.ini
        target: /usr/local/etc/php/php.ini
      - type: bind
        source: ./local/php/docker-php-ext-xdebug.ini
        target: /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
    # .env.appをコンテナの環境変数に設定するようにしている。設定を変更する場合は、
    # 設定を変える場合は.env.appの内容を修正し、コンテナを再起動すること
    env_file: local/php/.env.app
    depends_on:
      postgresql:
        condition: service_healthy
      mysql:
        condition: service_healthy
      cache:
        condition: service_healthy
      session:
        condition: service_healthy
      mail:
        condition: service_healthy
      storage:
        condition: service_healthy
#      localstack:
#        condition: service_healthy
    profiles:
      - customImage
      - app

  php-franken:
    networks:
      default:
        aliases:
          - laravelorbstack.franken.local
    hostname: php-franken
    image: laravelorbstack/php:franken-8.5-local
    volumes:
      - type: bind
        source: ..
        target: /app
      - type: volume
        source: caddy-data
        target: /data
      - type: volume
        source: caddy-config
        target: /config
      - type: bind
        source: ./local/php/php.ini
        target: /usr/local/etc/php/php.ini
      - type: bind
        source: ./local/php/docker-php-ext-xdebug-franken.ini
        target: /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
    env_file: local/php/.env.franken
    depends_on:
      postgresql:
        condition: service_healthy
      mysql:
        condition: service_healthy
      cache:
        condition: service_healthy
      session:
        condition: service_healthy
      mail:
        condition: service_healthy
      storage:
        condition: service_healthy
    profiles:
      - customImage
      - app

  php-cli:
    env_file: local/php/.env.app
    image: laravelorbstack/php:apache-8.5-local
    volumes:
      - type: bind
        source: ..
        target: /var/www/html
      - type: bind
        source: ./local/php/000-default.conf
        target: /etc/apache2/sites-available/000-default.conf
      - type: bind
        source: ./local/php/mpm_prefork.conf
        target: /etc/apache2/mods-available/mpm_prefork.conf
      - type: bind
        source: ./local/php/php.ini
        target: /usr/local/etc/php/php.ini
      - type: bind
        source: ./local/php/docker-php-ext-xdebug.ini
        target: /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
    profiles:
      - customImage
      - cli
    depends_on:
      postgresql:
        condition: service_healthy
      mysql:
        condition: service_healthy
      cache:
        condition: service_healthy
      session:
        condition: service_healthy
      mail:
        condition: service_healthy
      storage:
        condition: service_healthy
  balancer:
    networks:
      default:
        aliases:
          - frankenphp.local
          - apachephp.local
    hostname: balancer
    image: nginx:1.29.4@sha256:7272239bd21472f311aa3e86a85fdca0f1ad648995f983ab6e5e7dea665cd233
    volumes:
      - type: bind
        source: ./local/lb/nginx.orb.conf
        target: /etc/nginx/conf.d/default.conf
    depends_on:
      php-app:
        condition: service_started
    labels:
      dev.orbstack.domains: frankenphp.local,apachephp.local
    profiles:
      - app
